body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size:110%;
  background-color: #ffffff;
  display:flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
  box-sizing: border-box;
}

@media screen and (max-width:480px) {
  
  .content{
    display:inline-table;
    width: 45%;
    height: 250px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }

  #bottom{
    width: 90%;
  }
}

header {
  text-align: center;
  justify-content: center;
  color: rgb(23, 33, 33);
  text-shadow: 1.5px 1px 10px rgb(4, 238, 255);
}

#heading {
  text-align: center; /*aligns text in the horizontal center of the element*/
  font-size: 36px;  /*specifies font size of element text*/
  background-color: rgb(7, 116, 116); /*background color to be used as backup when image fails to load*/
  background-position:center center;  /*center background image vertically and horizontally*/
  background-repeat:repeat; /*repeats image in a tile-sequence on the page*/
  background-attachment:local;  /*background only scrolls with element's contents*/
  background-size: 150px; /*specify size of background image*/
  padding-bottom: 0.5rem;
  border-bottom: 5px solid rgb(7, 116, 116);  /*add subtle bottom border to melt into the sidebar when background is an image*/
}

@media only screen and (min-width:600px) {
  #heading {
    background-image: url(images/MyBackground-1.png);
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  #heading {
    background-image: url(images/MyBackground-2.png);
  }
}

@media only screen and (min-width:1025px) {
  #heading {
    background-image: url(images/MyBackground-3.png);
  }
}



.profile {
  border: 5px solid rgb(253, 234, 234);
  border-radius: 50%;
  width:25%; 
  height: 25%;
}

.h1{
  font-family: 'Edwardian Script ITC', Pristina, sans-serif;
  font-size: 10vw;
}

footer {
  color:rgb(239, 232, 237);
  background-color: #343330;
  text-align: center;
  justify-content: center;
  font-size: x-large;
}

#sidebar {
  color: #ffffff;
  background-color: rgb(48, 58, 41);
  padding: 2px;
  margin:0px;
  justify-content: space-between;
  align-items:center;
  text-align:justify;
  padding: 14px 16px;
  float: left;
  position:top;
  width:fit-content;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (max-width:767px) {
  #sidebar {
    list-style-type: none;
    background-color: #343330;
    background-image: linear-gradient(rgb(11, 118, 113), #343330);
  }

  .nav-menu li a {
    display:block;
    padding: 15px 5px;
    color:lightblue;
  }
}

@media only screen and (min-width:768px) {
  #sidebar {
    background-color: #343330;
    background-image: linear-gradient(rgb(11, 118, 113), forestgreen, #343330);
  }

  .nav-menu li a {
    display:block;
    padding: 15px 5px;
    color:rgb(117, 232, 252);
  }
}

@media only screen and (min-width:1025px) {
  #sidebar {
    list-style-type: none;
    background-color: #343330;
    background-image: linear-gradient(rgb(11, 118, 113), rgb(1, 97, 1), rgb(2, 122, 122), #343330);
  }

  .nav-menu li a {
    display:block;
    padding: 15px 5px;
    color:rgb(171, 251, 208);
  }
}

.nav-menu {
  list-style-type: none;
  display: block;
  line-height: 50px;
  margin: 0%;
  padding: 20px 10px;
}

.icons {
  border: 5px solid transparent;
  border-radius: 50%;
  width: 3rem;
  margin: 2rem;
  height: auto;
}

a {
  text-decoration: none;
}

.content {
  padding-left: 20px;
}

img {
  width: 100%;
  
}

